/* Bakgrundsbild startsidan */
body {
  background-image: url(fjärde.webp);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

h2 {
  font-size: 45px;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.description {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 80px;
}

label {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form button {
  margin-top: 2px;
  height: 50px;
  width: 250px;
  margin-left: 15px;
  background-color: rgb(225, 225, 225);
  border: 2px solid gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(195, 191, 191);
}

input {
  border: none;
  margin-left: 10px;
  height: 45px;
  width: 240px;
  border: 2px solid gray;
  font-size: 26px;
  margin-bottom: 20px;
}

input:hover {
  cursor: pointer;
}

p {
  font-size: 45px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#showPlayerName {
  font-size: 40px;
  color: white;
  justify-content: center;
  display: flex;
}

/* Bakgrundsbild för fråga 1 */
body.change-background {
  background-image: url(lionbaby\ second.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

li button {
  margin-top: 2px;
  height: 50px;
  width: 250px;
  margin-left: 15px;
  background-color: rgb(225, 225, 225);
  border: 2px solid gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  border-radius: 3px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
}

#answer-options li {
  list-style-type: none;
  padding: 0;
}

/* Bakgrundsbild för fråga 2 */
body.changee-background {
  background-image: url(syskon.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

/* Bakgrundsbild för fråga 3 */
body.changeee-background {
  background-image: url(flera\ s.webp);
  background-size: cover;
  background-attachment: fixed;
}

/* Bakgrundsbild för fråga 4 */
body.changeeee-background {
  background-image: url(lejon\ first.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

/* Bakgrundsbild när man klarat spelet */
body.changeeeee-background {
  background-image: url(familjen.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#playagain {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 250px;
  background-color: rgb(225, 225, 225);
  border: 2px solid gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
}
